<div class="block">
    <h4>Upload your photos</h4>
    <form #form="ngForm" novalidate (ngSubmit)="submit()">
        <div class="col-4">
            <div class="form-group">
                <label for="image">Selected file input</label>
                <input type="file" class="form-control-file" id="image" name="image" (change)="onFileChanged($event)" ngModel required>
            </div>
            <div class="form-group">
                <label for="bikeId">Selected bike</label>
                <select class="form-control" id="bikeId" name="bikeId" [(ngModel)]="selectedBike">
                    <option value="" disabled selected>Select bike</option>
                    <option *ngFor="let bike of bikes" [ngValue]="bike">{{ bike.name }} / ${{ bike.price }}</option>
                </select>
            </div>
            <input type="submit" value="Send" [disabled]="form.invalid" class="btn btn-submit">
            <p>{{ errors }}</p>
        </div>
    </form>
</div>

<div class="block">
    <h4>Photo gallery</h4>
    <div class="col">
        <div class="row">
            <div class="m-2 bike-card col-lg-3 col-md-4 col-6 mb-3 thumb" *ngFor="let bike of bikes">
                <a data-fancybox="gallery" href="{{ bike.photo }}">
                    <img class="img-fluid" src="{{ bike.photo }}">
                </a>
                <p>{{ bike.name }} / Price: ${{ bike.price }}</p>
            </div>
        </div>
    </div>
</div>