<div class="row">
    <div class="w-100">
        <div class="block">
            <bike-form-app [errors]="errors" [bikeTypes]="bikeTypes" (onSubmit)="submit($event)">
                
            </bike-form-app>
        </div>
        <div class="block">
            <bike-rent-app [rentBikes]="bikes" [totalPrice]="totalPrice" (onChanged)="changeBikeStatus($event)">

            </bike-rent-app>
        </div>
        <div class="block">
            <bike-available-app [bikeAvailables]="bikes" [countFreeBikes]="countFreeBikes" (onChanged)="changeBikeStatus($event)" (onDeleted)="delete($event)">
               
            </bike-available-app>
        </div>
    </div>
</div>